@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    font-weight: var(--fw-regular);
    overflow: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}

:root {
    --primary-clr: white;
    --accent-clr: hsl(220, 82%, 43%);
    --accent-clr-dark: rgb(14, 56, 139);
    --accent-clr-light: hsl(220, 82%, 93%);

    --secondary-clr: #FF704A;
    --secondary-clr-light: #ffd7cb;

    --error-clr: #FF000080;
    --error-clr-outline: #FF0000;

    --box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    --fw-regular: 400;
    --fw-bold: 700;


    --section-max-width: 1240px;
}

header {
    display: flex;
    padding-inline: 1.2rem;
    padding-block: 1rem;
    color: var(--secondary-clr);
    background-color: var(--secondary-clr-light);
    align-items: center;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

a {
    text-decoration: none;
}

h1>a {
    color: var(--secondary-clr);
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--secondary-clr);
    color: white;
    width: 25rem;
}

.form-groups {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.form-groups>label {
    flex: 2;
}

.form-groups .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.-field-alert {
    margin-bottom: 1rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
}

input,
button,
textarea,
select {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    transition: all 200ms ease-in-out;
    padding: 0.5rem;
    border: none;
    outline: 0px solid var(--secondary-clr-light);
}


input:focus,
button:focus {
    outline-width: 2px;
}

.auth-form>h2 {
    align-self: center;
}

button {
    cursor: pointer;
    padding: 0.5rem;
    background-color: var(--secondary-clr-light);
    color: var(--secondary-clr);
}

button:hover {
    background-color: var(--primary-clr);
    color: var(--secondary-clr-dark);
}


.logout {
    background-color: var(--secondary-clr);
    color: var(--primary-clr);
    outline: solid var(--secondary-clr) 2px;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    font-size: 1rem;


}

.logout:hover {
    background-color: var(--secondary-clr-light);
    outline-color: var(--secondary-clr);
    color: var(--secondary-clr);
}

.hidden{
    display: none !important;
}

/* .btn--red {
    color: green;
}

.btn--red:hover {
    color: var(--secondary-clr);
    background-color: var(--error-clr);
} */
