.FormWrapper {
    display: flex;
    align-items: center;
    padding-block: 1rem;
    flex-direction: column;
}

.Form {
    width: 100%;
    max-width: var(--section-max-width);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Form div:first-of-type{
    width: 100%;
}

/* .Form input[type=text], .Form input[type=url], .Form input[type=email], .Form input[type=password], .Form input[type=number], .Form input[type=tel], .Form select{
    width: 100%;
} */
