.Wrapper {
    width: 2rem;
    height: 2rem;
}   

.Arrow:hover {
    outline-color: var(--accent-clr);
    outline-width: 2px;
}

.Arrow{
    outline-style: solid;
    outline-width: 1px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}